<%= form_with model: @user do |form| %>
    <% if @user.errors.any? %>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <div>
        <%= label_tag(:email, 'Email:') %>
        <%= form.text_field :email, placeholder: 'example.mail@mail.com' %>
    </div><br>
    <div>
        <%= label_tag(:username, 'Username:') %>
        <%= form.text_field :username, placeholder: 'Enter user name' %>
    </div><br>
    <div>
        <%= label_tag(:password, 'Password:') %>
        <%= form.password_field :password, placeholder: 'Enter password' %>
    </div><br>
    <%= form.submit "Create" %>
    <%= link_to "Destroy", user_path(@user), data: { turbo_method: :delete } %>
  <% end %>